# Environment example (Vite)
# Copy to .env.local and fill the firebase values from your Firebase project settings
VITE_FIREBASE_API_KEY=AIzaSyAa_ZVk_m6aXXm8ygCKNd0EQtaQZDMnBrg
VITE_FIREBASE_AUTH_DOMAIN=music-site-d1baf.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=music-site-d1baf
VITE_FIREBASE_APP_ID=1:813329988297:web:79347fd497edb8a5562b18

VITE_CLOUDINARY_CLOUD_NAME=u3elvi6g
VITE_CLOUDINARY_UPLOAD_PRESET=magician_unsigned
VITE_OPERATOR_PASSWORD=Music@123
VITE_ADMIN_EMAIL=bhuvanbhaskar924@gmail.com
